# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Compiled output
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
!.eslintrc.js
!.eslintrc.cjs
!.stylelintrc.js
coverage/
*-sw.js
lib/

**/node_modules/**
**/*.min.js
