{{ range $_, $m := . -}}
  {{- /* <message><rule> */ -}}
  {{ $m.message }}
  {{- sp}}({{ $m.rule.id }}{{ if $m.rule.subId }}[{{ $m.rule.subId }}]{{end}}){{- nl -}}

  {{- /* Suggestions */ -}}
  {{ if ne (len $m.replacements) 0 -}}
    {{sp}}Пропозиції: {{ range $i, $r := $m.replacements -}}{{ if ne $i 0 }},{{sp}}{{end}}`{{ $r.value }}`{{ end -}}
    {{- nl -}}
  {{ end }}

  {{- /* URLs */ -}}
  {{ if $m.rule.urls }}{{ if ne (len $m.rule.urls) 0 -}}
    {{sp}}URL: {{ range $_, $u := $m.rule.urls -}}{{ $u.value }}{{sp}}{{- end -}}
    {{- nl -}}
  {{ end }}{{ end }}

  {{- /* Rule URL */ -}}
  {{sp}}Правило: https://community.languagetool.org/rule/show/{{ $m.rule.id }}?lang=uk
  {{- if $m.rule.subId }}&subId={{ $m.rule.subId }}{{end}}{{- nl -}}

  {{- /* Категорія */ -}}
  {{sp}}Категорія: {{ $m.rule.category.id }}

  {{- nl -}}
{{- end -}}
